body{background-image: url("images/IMG_0720.png");
background-repeat: no-repeat;
background-size: cover;
margin: auto;}
.navbar {
    background: black;
}
.navbar .navbar-brand-wrapper{
    text-align: center;
    margin: -10px 0 0px 0;
    background-image: url("images/IMG_6EAFD6BECAF5-1.jpeg");
    height: 160px;
    background-size: 100%;  
}
.navbar .navbar-brand-wrapper h1{
    color: white;
    display: inline-block;
    margin-top: 55px;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
}
.navbar .navbar-nav{
    background-color:black;
}

.navbar-nav ul{
    list-style-type:none;
    margin: 0 11%;
    padding-left: 0px;
    overflow: hidden;
    background-color: black;
    width: 80%;
}
.navbar-nav ul li{
    float: left;
    background-color: darkred;
    border: 1px solid black;
    border-bottom: none;
    width: 16%;
}

.navbar-nav ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 10% 0%;
    text-decoration:none;
}

.container {text-align: left;}

.responsive {
    width: 100%;
    max-width: 600px;
    height: auto;
    
}

.responsiveimg{
    width: 100%;
    max-width: 300px;
    height: auto;
    float: left;
    margin-bottom: 2%;
    margin-right: 2%;
}
.desc {
    text-align: center;
    height: 20px;
    padding-top: 5px;
    border-top:2px solid black;
}
.gallery {
    float: left;
    border:2px solid;
    margin: 25px 3px;
}

#content #mainContent h3 {
    font-family: source-sans-pro, sans-serif;
    font-style: normal;
    font-weight: 200;
    color: gray;
}

#content #mainContent #bannerImage {
    width: 100%;
    height: auto;
}

#content #mainContent p, #content .full-mainContent p{
    color: black;
    font-style: normal;
    font-weight: 200;
    text-align: justify;
}

#content #member-mainContent, #content #contact-mainContent {
    color: black;
    font-style: normal;
    font-weight: 200;
    text-align: center;
}
#content #mainContent, #content #member-mainContent, #content .full-mainContent, #content #contact-mainContent {
	background-color: white;
}

#mainContent {
    padding-left: 2%;
    width: 58%;
    float: left;
padding-right: 2%;
margin-top: 2%;
}

#member-mainContent, .full-mainContent, #contact-mainContent{
    padding-left: 2%;
    width: 93%;
float: left;
padding-right: 2%;
margin-top: 2%;
}

#mainwrapper #content #sidebar{
    width: 30%;
    padding-left: 2%;
    padding-right: 2%;
    float: left;
    background-color: white;
    margin-top: 2%;
    margin-left: 1%;
}

#mainwrapper {
    width: 80%;
    overflow: auto;
    margin-left: 11%;
}

#footer {
    height: 58px;
    clear:both;
    background-color: black;
    padding-top: 4%;
    text-align: center;
    width: 100%;
    color: white;
}
.clearfix button{
    background-color: #FFBE00;
    text-align: center;
    border-radius:20px;
}
.btnstyle button {
    border-radius: 20px;
    background-color: #1A0607;
    border:none;
    color: #FFF500;
    text-align: center;
    font-size: 40px;
    padding:25px;
    width: 500px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5% auto;
    display: block;
}

input[type="submit"]{
    width: 344px;
    height: 45px;
    border:none;
    background-image: none;
    color: #FF0000;
    background-color: #FFFD00;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.signupbutton button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.cancelbtn {
    padding: 14px 20px;
    background-color: #F44336;
}

.cancelbtn,.signupbtn {float:left;width:50%}

.container {
    padding: 16px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #FEFEFE;
    margin: 5% auto 15% auto; 
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

* The Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    color: #FFFFFF;
    font-size: 40px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #FF0004;
    cursor: pointer;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}



.signupbtn {
	padding: 20px;
}

/* Tablet view */
@media screen and (max-width:769px) {


    #mainContent {
        padding-top: 0px;
        float: none;
        width: 96%;
    }
    
    #mainwrapper #content #sidebar {
    
        float: none;
        width: 92%;
        padding-top: 13px;
        overflow: auto;
        margin-top: 3px;
        margin-left: 2%;
        padding-bottom: 13px;
    }
    
    }
    
    /* Mobile view */
    @media screen and (max-width:480px) {
    
    #mainwrapper #content #sidebar {
        padding-bottom: 0px;
    }
    
    #content #mainContent h3 {
        font-size: 14px;
    }
        
    .navbar-nav ul {
        list-style-type: none;
        margin: 0;
        padding-left: 0px;
        overflow: hidden;
        background-color: black;
        width: 100%;
    }
        
    .navbar-nav ul li {
        float: left;
        background-color:darkred;
        border: 1px solid black;
        border-bottom: none;
        width: 16%;
        font-size: 10px;
    }
    
    .navbar-nav ul li a {
        display: block;
        color: white;
        text-align: center;
        padding: 10% 0%;
        text-decoration: none;
    }
    }
    
    

